books/
**/numpy_pandas/exercises/
clion/
fromSCB/
GTAGS
GPATH
GRTAGS
*.pyc
*.s
build/
static_cdn/
a.out
*.swp
seasocks*
cmake-build*
*.log
tensorflow-for-poets-2/
flower_photos.tgz
tf_files/
.~*
.ipynb_checkpoints/
**/delete/
gdb.txt
.lock-waf_linux_build
.idea/**
