requests
bumpversion
Jinja2
python-dateutil
arrow
pyzmq
Werkzeug
Flask
Django
nose
numpy
scipy
matplotlib
jupyter
pandas
sympy
pylint
tqdm
redis
lxml
robotframework
protobuf
grpcio
scikit-learn
tensorflow
graphviz
