<!-- recipe image -->
<div class="row">
    <div class="col-xs-12">
        <img src="" alt="" class="img-responsive"/>
    </div>
</div>
<!-- followed by name pf Recipe -->
<div class="row">
    <div class="col-xs-12">
        <h1>Recipe Name</h1>
    </div>
</div>
<!-- followed by options to manage recipe
  option to add ingredients to shopping list, edit and delete recipe -->
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                Manage Recipe<span class="caret"> </span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">To shopping list</a></li>
                <li><a href="#">Edit Recipe</a></li>
                <li><a href="#">Delete Recipe</a></li>
            </ul>
        </div>
    </div>
</div>

<!-- followed by recipe description and ingredients -->
<div class="row">
    <div class="col-xs-12">
        Description
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        Ingredients
    </div>
</div>
