<!-- recipe image -->
<div class="row">
    <div class="col-xs-12">
        <img src="{{recipe.imagePath}}" alt="{{recipe.name}}" class="img-responsive" style="max-height: 300px;"/>
    </div>
</div>
<!-- followed by name pf Recipe -->
<div class="row">
    <div class="col-xs-12">
        <h1>{{recipe.name}}</h1>
    </div>
</div>
<!-- followed by options to manage recipe
  option to add ingredients to shopping list, edit and delete recipe -->
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group" appDropdown>
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                Manage Recipe<span class="caret"> </span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a (click)="onAddIngredientToShoppingCart()" style="cursor: pointer;">To shopping list</a></li>
                <li><a style="cursor: pointer;" (click)="onRecipeEdit()">Edit Recipe</a></li>
                <li><a style="cursor: pointer;">Delete Recipe</a></li>
            </ul>
        </div>
    </div>
</div>

<!-- followed by recipe description and ingredients -->
<div class="row">
    <div class="col-xs-12">
        {{recipe.description}}
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let i of recipe.ingredients">
                {{ i.name }} - {{ i.amount }}
            </li>
        </ul>
    </div>
</div>
