<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div id="user-data" ngModelGroup="userData" #userData="ngModelGroup">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username"
                   class="form-control" ngModel name="username" required>
          </div>
          <button class="btn btn-default" type="button" (click)="suggestUserName()">Suggest an Username</button>
          <div class="form-group">
            <label for="email">Mail</label>
            <input type="email" id="email" class="form-control" [ngModel]="defaultEmail" name="email" required email #email="ngModel">
          </div>
          <span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid email!</span>
        </div>
        <p *ngIf="!userData.valid && userData.touched">User data is invalid!</p>
        <div class="form-group">
          <label for="secret">Secret Questions</label>
          <select id="secret" class="form-control" [ngModel]="defaultQuestion" name="secret">
            <option value="pet">Your first Pet?</option>
            <option value="teacher">Your first teacher?</option>
          </select>
        </div>
        <div class="form-group">
          <textarea name="questionAnswer" rows="3" [(ngModel)]="answer" class="form-control"></textarea>
          <p>Your answer is {{ answer }}</p>
        </div>
        <button class="btn btn-primary" type="submit"
        [disabled]="!f.valid">Submit</button>
      </form>
    </div>
  </div>
</div>

<!--
In template driven approach the <form> element will help create a javascript object for all the form-controls you have in your form.
to identify a form-control to be picked up angular, you need to explicitly use the ngModel directive and also specify the
name attribute for that element.

Also to get access to the javascript object, we need to get it from the <form> element. but how do we access the <form> element
in type script. Using template reference. We assign a reference to the <form> element using #form and then add parameter "form" to the
onSubmit() function. if you now log it in onSubmit(), you see that you can see the whole element, still not the javascript object.

To see the javascript object, you can pass something to the elementRef. and that "ngForm". think of this as accessing a property/attribute of the
element on which the elementref is located.

Form validation
---------------
you can add some angular directives to various form controls in your form and angular will dynamically inject a view classes that tell you more about
the status of the form. Also it adds a "valid" field to each form-control and also to the overall form. if valid fiels is false, it means
the form-control value is not correct or not as expected.

Lets add the required attribute and the email attribute to the UserName and Email form controls. Then view the status as valid and invalid in the console
where the ngForm object is logged. Also see the dynamically injected css classes like "ng-dirty", "ng-touched", "ng-(in)valid" and use these
to style our elements on the front end.

Default Values of form-controls
-------------------------------
for default values, you can still use ngModel but as a property binding.
lets define the default value of the secret form control to be the pet question. using [ngModel]="defaultQuestion"

Grouping values
---------------
you can also group certain related form-controls together and give them a name. The javascript form object will also be modified in a similar way.
You might do this when the form is too big and grouping helps reduce complexity. Also angular will assign a "valid" field for every group you create.

Setting and Patching form values
----------------------------------
Now there is also a way to set part/whole of the javascript form using setValue and patchValue functions.
Let say you want to Suggest a username function when a user clicks on it. you can install a click listener and set/patch values there.
-->
