<div class="row">
    <div class="col-xs-12">
        <p>Add new Servers or blueprints!</p>
        <label>Server Name</label>
        <input type="text" class="form-control" #serverNameElement>
        <label>Server Content</label>
        <input type="text" class="form-control" #serverContentElement>
<!--        <input type="text" class="form-control" [(ngModel)]="newServerContent">-->
        <br>
        <button
                class="btn btn-primary"
                (click)="onAddServer(serverNameElement)">Add Server</button>
        <button
                class="btn btn-primary"
                (click)="onAddBlueprint(serverNameElement)">Add Server Blueprint</button>
    </div>
</div>

<!-- We are using two way binding [(ngModel)]="newServerName", however we will never change the value of newServerName in Typescript.
So we can optimize this by using Local References. Local References CAN ONLY BE USED IN THE TEMPLATE FILES ie the html files.
not in the TS files. A local reference is a reference to another HTML element on the same template. So here we can create a local reference for
the <input> element by passing an attribute to <input> element which starts with #. Then we can pass that reference to the onAddServer()
and onAddBlueprint() methods which means those methods will receive HTMLInputElement as arguments and we can extract the text of the input
element using the .value property in the TS code.

Another way to access an element in template from TypeScript (apart from local reference you so above is to use the @ViewChild decorator.
ViewChild decorator can be applied to many things like @Component, @Directive, a local reference, a template reference (you will see that later).
Here we apply ViewChild to local reference.

ViewChild is very trivial. It just allows you to access an Element in your template from your TS file.
But when your template or content is injected into your component view from outside, we can use @ContentChild instead of ViewChild.
Both ViewChild and ContentChild give you an ElementRef.
 -->
