<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div formGroupName="userData">
          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              id="username"
              formControlName="username"
              class="form-control">
            <!-- to access the signupForm here we use the get() function -->
            <span *ngIf="!signupForm.get('userData.username').valid && signupForm.get('userData.username').touched"
                  class="help-block">
              <span *ngIf="signupForm.get('userData.username').errors?.nameIsForbidden">
                name '{{signupForm.get('userData.username').value}}' is not allowed</span>
              <span *ngIf="signupForm.get('userData.username').errors?.required">
                Please enter a username!</span>

            </span>
          </div>
          <div class="form-group">
            <label for="email">email</label>
            <input
              type="text"
              id="email"
              formControlName="email"
              class="form-control">
            <span *ngIf="!signupForm.get('userData.email').valid && signupForm.get('userData.email').touched"
                  class="help-block">
              <span *ngIf="signupForm.get('userData.email').errors?.required">Please enter a valid email!</span>
              <span *ngIf="signupForm.get('userData.email').errors?.invalidEmail">This email isn't allowed!</span>
            </span>
          </div>
        </div>
        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input
              type="radio"
              formControlName="gender"
              [value]="gender">{{ gender }}
          </label>
        </div>

        <div formArrayName="hobbies">
          <button class="btn btn-default" type="button" (click)="onAddHobby()">Add hobby</button>
          <div class="form-group" *ngFor="let hobby of getHobbyControls(); let i = index">
            <input type="text" class="form-control" [formControlName]="i" />
          </div>
        </div>
        <span *ngIf="!signupForm.valid && signupForm.touched"
              class="help-block">Please enter valid data!</span>

        <hr>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
